* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: sonic_o;
  src: url(../fonts/Sonic_Outline.ttf);
  font-weight: bold;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  background: linear-gradient(45deg, #30cfd0, #330867);
  font-family: sonic_o, sans-serif;
  color: #fff;
  font-size: 40px;
}

/* MAIN MENU */
.main__menu {
  width: 100%;
  max-width: 500px;
}

h1 {
  padding: 0;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-size: 1em;
}

.players {
  width: 100%;
  height: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  transition: .2s all linear;
  cursor: pointer;
}
.player:hover {
  width: 150px;
  height: 150px;
  background-size: 100%;
  box-shadow: 0px 0px 20px 20px rgba(232, 236, 238, 1);
}


/* GAME */
.game {
  position: relative;

  background-color: #fff;
  background-image: url('../img/bar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: .5rem solid rgb(111, 117, 111);
}

#canvas {
  width: 700px;
  height: 450px;
}

menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -1.7em;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 5px;
}

.health {
  position: absolute;
  left: calc(50% - 1em);
}

.heart {
  margin-bottom: -5px;
}

.params {
  margin-bottom: -10px;
}
.params svg {
  cursor: pointer;
  transition: .2s all linear;
}
.audio:hover, .reload:hover {
  fill: rgb(95, 56, 118, .6);
}





/* SVG */
svg {
  width: 50px;
  height: 50px;

  fill: #fff;
  border-radius: 50%;
}


/* System classes */
.active {
  display: block;
}

.disabled {
  display: none;
}